<app-navbar-pesquisa></app-navbar-pesquisa>

<div id="tudo">
    <div id="bannerCamp">
        <div id="img">
            <img src="../../../assets/imgs/logo_lol.png">
        </div>      
    </div>
    <div id="divjogador">
        <h2>Jogadores</h2>
        <table id="jogadores">
            <tr>
                <td class="cabecalho">País</td>
                <td class="cabecalho">Nome</td>
                <td class="cabecalho">Nickname</td>
                <td class="cabecalho">Posição</td>
            </tr>
            <tr>
                <td class="conteudo">Coreia do Sul</td>
                <td class="conteudo">Lee Sang-hyeok</td>
                <td class="conteudo">Faker</td>
                <td class="conteudo">Mid</td>
            </tr> 
            <tr>
                <td class="conteudo">Coreia do Sul</td>
                <td class="conteudo">Lee Sang-hyeok</td>
                <td class="conteudo">Faker</td>
                <td class="conteudo">Mid</td>
            </tr>  
            <tr>
                <td class="conteudo">Coreia do Sul</td>
                <td class="conteudo">Lee Sang-hyeok</td>
                <td class="conteudo">Faker</td>
                <td class="conteudo">Mid</td>
            </tr>  
            <tr>
                <td class="conteudo">Coreia do Sul</td>
                <td class="conteudo">Lee Sang-hyeok</td>
                <td class="conteudo">Faker</td>
                <td class="conteudo">Mid</td>
            </tr>  
            <tr>
                <td class="conteudo">Coreia do Sul</td>
                <td class="conteudo">Lee Sang-hyeok</td>
                <td class="conteudo">Faker</td>
                <td class="conteudo">Mid</td>
            </tr>  
            <tr>
                <td class="conteudo">Coreia do Sul</td>
                <td class="conteudo">Lee Sang-hyeok</td>
                <td class="conteudo">Faker</td>
                <td class="conteudo">Mid</td>
            </tr>             
            <tr>
                <td class="conteudo">Coreia do Sul</td>
                <td class="conteudo">Lee Sang-hyeok</td>
                <td class="conteudo">Faker</td>
                <td class="conteudo">Mid</td>
            </tr>  
            <tr>
                <td class="conteudo">Coreia do Sul</td>
                <td class="conteudo">Lee Sang-hyeok</td>
                <td class="conteudo">Faker</td>
                <td class="conteudo">Mid</td>
            </tr>  
            <tr>
                <td class="conteudo">Coreia do Sul</td>
                <td class="conteudo">Lee Sang-hyeok</td>
                <td class="conteudo">Faker</td>
                <td class="conteudo">Mid</td>
            </tr>  

        </table>
    </div>
</div>