
nav {
    float: left;
    width: 400px;
    height: 100vh;
    background-color: #0C1117;
    padding: 5px;
    z-index: 9;
    backdrop-filter: blur(1.5px);
}

div#logo {
    width: 100%;
    height: 150px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

#logo img {
    width: 230px;
    height: 80px;
}

section.nav {
    width: 80%;   
}

.nav ul {
    padding-left: 60px;
    padding-top: 15px;
}

.nav ul li {
    display: flex;    
    list-style-type: none;
    margin-bottom: 15px;
    height: 35px;
    width: 100%;
}

.nav ul li a {  
    display: flex;
    gap: 10px;  
    height: 100%;    
    font-size: 18px;
    align-items: center;
    cursor:pointer;
}

a:hover{
    text-decoration: underline;
  }

.navImg{
    height: 24px;
    width: 24px;
    margin-bottom: 0px;
}

div.linha{
    height: 2px;
    background-color: #1F2C3C;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px ;
}

h2.titulo {
    color: #828282;
    font-size: 15px;
    margin-left: 50px;
}

section#faixaTopo {  
    display: block; 
    float: top; 
    width: 100%;
    height: 104px;
    background-color: #121922;
    padding: 5px;
}

section#faixaTopo div#pesquisa {
    display: flex;
    padding-left: 60px;
    padding-top: 25px;    
}

section#faixaTopo div#pesquisa div#areaBarraPesquisa {
    border: 0.5px;
    border-color: #121922 ;
    display: flex;
    width: 350px;
    height: 35px;
    border-radius : 10px;
    background-color: #161E29;
}

div#areaBarraPesquisa input#barraPesquisa {
    border: 0;
    width: 320px;
    box-shadow: 0 0 0 0;
    outline: 0;
    margin-left: 15px;
    border-radius : 10px;
    background-color: #161E29;
}

section#faixaTopo div#pesquisa button#botaoPesquisa {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: #313EFE;
    margin-left: 15px;
}


i#iconPesquisa {
   margin: 0;
   margin-left: 6.3px;
   margin-bottom: 3px;
    
}

div#pesquisa div#botoes {
    padding: 10px;
    padding-left: 780px;
    height: 100px;
}

div#pesquisa div#botoes button{    
    background-color: #121922;
    padding-left: 30px;
    border: 0px;
}
