
.menuLateral{
    width: 400px;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;
    
    background-color: #0C1117;
    padding: 3rem;
    z-index: 9;
}

#logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
    margin-bottom: 5rem;
}

#logo img {
    width: 230px;
}

.navImg{
    font-size: 25px;
    width: 25px;
    margin-right: 15px;
}

.containItem{
    width: calc(100%-40px);
    margin-left: 40px;
}

.containItem li{
    margin: 10px 0;
    font-size: 18px;
}

.containItem li a{
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
}

.linha{
    height: 2px;
    background-color: #1F2C3C;
    width: 100%;
    margin: 3rem 0;
}

h2.titulo {
    color: #828282;
    font-size: 15px;
    margin-bottom: 20px;
}

/*NAV TOP*/

#faixaTopo {  
    display: flex;
    align-items: center;
    justify-content: space-between; 

    position: fixed;
    top: 0;
    right: 0;
    z-index: 8;

    width: calc(100% - 400px);
    height: 73px;
    background-color: #121922;
    border-bottom: 1px solid #202c3b;
    padding: 1rem 2rem;
}

#pesquisa{
    display: flex;
    align-items: center;
}

#areaBarraPesquisa{
    background-color: #161E29;
    padding: .5rem 1rem;
    border-radius: 20px;
    margin-right: 8px;
}

#barraPesquisa{
    background-color: transparent;
    width: 250px;
}

#botaoPesquisa{
    background-color: #313EFE;
    height: 35px;
    width: 35px;
    border-radius: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s ease;
}

#botaoPesquisa:hover{
    background-color: #1825da;
    cursor: pointer;
}

#botoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconNav{
    background-color: transparent;
    font-size: 20px;
    margin-right: 20px;
}

.dropdown-menu-dark{
    background-color: #202935 !important;
}

