<link href='https://css.gg/search.css' rel='stylesheet'>
<link href='https://css.gg/bell.css' rel='stylesheet'>

<nav class="menuLateral">
  <div id="logo">
    <img src="../assets/imgs/logo.png">
  </div>


  <ul class="containItem">
    <li><a routerLink="/home"><i class="bi bi-house-door-fill navImg"></i>Home</a></li>
    <li><a routerLink="/chat"><i class="bi bi-chat-left-text-fill navImg"></i>Chat</a></li>
  </ul>

  <div class="linha"></div>

  <section class="containItem">
    <h2 class="titulo">League Of Legends</h2>
    <ul>
      <li><a routerLink="/"><i class="bi bi-trophy-fill navImg"></i>Campeonatos</a></li>
      <li><a routerLink="/"><i class="bi bi-person-lines-fill navImg"></i>Jogadores</a></li>
      <li><a routerLink="/"><i class="bi bi-joystick navImg"></i>Jogos de Hoje</a></li>
      <li><a routerLink="/"><i class="bi bi-people-fill navImg"></i>Equipes</a></li>
    </ul>
  </section>
</nav>

<section id="faixaTopo">
  <div id="pesquisa">
    <div id="areaBarraPesquisa">
      <input id="barraPesquisa" placeholder="Pesquisar...">
    </div>

    <button id="botaoPesquisa"><i class="bi bi-search"></i></button>
  </div>

  <div id="botoes"> 
    <button class="iconNav"><i class="bi bi-gear"></i></button>

    <div class="dropdown text-end">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>

  </div> 
</section>