<link href='https://css.gg/search.css' rel='stylesheet'>
<link href='https://css.gg/bell.css' rel='stylesheet'>
<nav>
  <div id="logo">
    <img src="../assets/imgs/logo.png">
  </div>
  <div class="linha"></div>
  <section class="nav">
    <h2 class="titulo">Menu</h2>
    <ul>
      <li><a><i class="bi bi-house-door-fill"></i>Home</a></li>
      <li><a><i class="bi bi-newspaper"></i>Notícias</a></li>
      <li><a><i class="bi bi-chat-square-quote-fill"></i>Fórum</a></li>
      <li><a><i class="bi bi-chat-text-fill"></i>Chat</a></li>
    </ul>
  </section>
  <div class="linha"></div>
  <section class="nav">
    <h2 class="titulo">Games</h2>
    <ul>
      <li><a><img class="navImg" src="../assets/imgs/icon_lol.png">League Of Legends</a></li>
    </ul>
  </section>
  <div class="linha"></div>
  <section class="nav">
    <h2 class="titulo">Teams</h2>
    <ul>
      <li><a class="crosshair"><i class="bi bi-people-fill"></i>Equipes</a></li>
      <li><a class="crosshair"><i id="iconperfil" class="bi bi-person-fill"></i>Perfil</a></li>
      <li><a class="crosshair"><i class="bi bi-trophy-fill"></i>Campeonato</a></li>
    </ul>
  </section>  
</nav>
<section id="faixaTopo">
  <div id="pesquisa">
    <div id="areaBarraPesquisa">
      <input id="barraPesquisa" placeholder="Pesquisar...">
    </div>
    <button id="botaoPesquisa" class="crosshair"><i id="iconPesquisa" class="gg-search"></i></button>
    <div id="botoes"> 
      <button id="config" class="crosshair"><i id="iconconfig" class="bi bi-gear-fill"></i></button>
      <button id="notificacoes" class="crosshair"><i class="bi bi-bell-fill"></i></button>
      <button id="perfil" class="crosshair"><i id="iconperfil" class="bi bi-person-fill"></i></button>
   </div> 
  </div>
</section>