<app-navbar-pesquisa></app-navbar-pesquisa>

<div class="box" id="tudo">
  <app-navbar-league></app-navbar-league>

  <div class="my-3">
    <h2>Jogos de Hoje</h2>
  </div>
  <div class="conteudoMain h-item-total">
    <table class="table tableLeague">
      <thead>
        <tr>
          <th></th>
          <th class="div1">Nome</th>
          <th class="div3">Resultado</th>
          <th class="div2">Data</th>
          <th class="div3">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jogos of listJogos">
          <td><i class="bi bi-controller"></i></td>
          <td>{{jogos.TeamAName}} vs {{jogos.TeamBName}}</td>
          <td class="silence" *ngIf="!jogos.TeamAScore">0 x 0</td>
          <td class="silence" *ngIf="jogos.TeamAScore">{{jogos.TeamAScore}} x {{jogos.TeamBScore}}</td>
          <td class="silence">{{jogos.Updated | date: 'dd/MM/yyyy'}}</td>
          <td class="silence">{{jogos.Status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>