<div class="containLogin">
    <section id="sectionCadastro">
      <div id="logo">
        <img id="imglogo" src="../../../assets/imgs/logo.png">
      </div>
  
      <form id="divareaInput">
        <div class="espInput">
            <h2>Nome</h2>
            <div class="areaInput"><input type="text" class="txtEntrada" placeholder="Digite seu nome"></div>
        </div>

        <div class="espInput">
            <h2>Username</h2>
            <div class="areaInput"><input type="text" class="txtEntrada" placeholder="@gameszone"></div>
        </div>

        <div class="espInput">
            <h2>E-mail</h2>
            <div class="areaInput"><input type="email" class="txtEntrada" placeholder="games@zone.com"></div>
        </div>

        <div class="inputSenha">
            <div class="espInput w-100 me-2">
                <h2>Senha</h2>
                <div class="areaInput"><input type="password" class="txtEntrada" placeholder="Digite sua senha"></div>
            </div>
      
            <div class="espInput w-100">
              <h2>Senha</h2>
              <div class="areaInput"><input type="password" class="txtEntrada" placeholder="Digite sua senha"></div>
            </div>
        </div>
  
        <button type="button" id="btnEntrar">Cadastrar</button>
      </form>

      <div id="cadastro">
        <p>Já possui conta? <a routerLink="/login">Entrar</a></p>
      </div>

    </section>
  
    <div id="imgLateral"></div>
  </div>
  