<div class="h-item-auto">
    <div id="bannerCamp">
        <div id="imgBannerCamp">
            <img src="../../../assets/imgs/logo_lol.png">
        </div> 
    </div>
    <nav class="navLeague">
        <ul>
            <li><a class="btnNavLeague" routerLink="/campeonatos"><i class="bi bi-trophy-fill navLeagueIcon"></i>Campeonatos</a></li>
            <li><a class="btnNavLeague" routerLink="/jogadores"><i class="bi bi-person-lines-fill navLeagueIcon"></i>Jogadores</a></li>
            <li><a class="btnNavLeague" routerLink="/jogoshoje"><i class="bi bi-joystick navLeagueIcon"></i>Jogos de Hoje</a></li>
            <li><a class="btnNavLeague" routerLink="/equipes"><i class="bi bi-people-fill navLeagueIcon"></i>Equipes</a></li>
        </ul>
    </nav>
</div>