@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    color: white;
}

html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif !important;
    width: 100%;
    height: 100vh;
}

input {
    color-scheme: dark;
}

a {
    text-decoration: none !important;
}

li {
    list-style-type: none;
}

ul{
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

textarea {
    resize: none!important;
}

::-webkit-scrollbar {
    width: 6px;            
}
  
::-webkit-scrollbar-track {
    background: #121922;       
}
  
::-webkit-scrollbar-thumb {
    background-color: #313EFE;   
    border-radius: 20px;   
    border: 0; 
}
