<app-navbar-pesquisa></app-navbar-pesquisa>

<div id="tudo">
    <section id="partidas">
        <div class="header">
            <h2>Partidas</h2>
            <button class="crosshair"><i class="bi bi-filter-right"></i></button>
            <button class="crosshair"><i class="bi bi-caret-down-fill"></i></button>
        </div>
        <div class="conteudo"></div>
    </section>
    <section id="noticias">
        <div class="header">
            <h2>Notícias</h2>
            <button class="crosshair"><i class="bi bi-filter-right"></i></button>            
            <button class="crosshair"><i class="bi bi-caret-down-fill"></i></button>            
        </div>
        <div class="conteudo"></div>
    </section>
    <section id="ad">
        <img src="../../../assets/imgs/ad-img-fer.png">
        <img src="../../../assets/imgs/ad-img-karrigan.png">
    </section>    
</div>