<app-navbar-pesquisa></app-navbar-pesquisa>
<div id="tudo">
    <section id="partidas">
        <div class="header">
            <h2>Partidas</h2>
            <button class="crosshair">Filtro</button>
            <button class="crosshair">Ver Mais</button>
        </div>
        <div class="conteudo"></div>
    </section>
    <section id="noticias">
        <div class="header">
            <h2>Notícias</h2>
            <button class="crosshair">Filtro</button>            
            <button class="crosshair">Ver Mais</button>            
        </div>
        <div class="conteudo"></div>
    </section>    
</div>