<app-navbar-pesquisa></app-navbar-pesquisa>

<div id="tudo">
    <div id="bannerCamp">
        <div id="img">
            <img src="../../../assets/imgs/logo_lol.png">
        </div>      
    </div>
    <div id="divcamp">
        <h2>Equipes</h2>
        <table id="camp">
            <tr>
                <td class="cabecalho">Nome</td>
                <td class="cabecalho">País</td>
                <td class="cabecalho">Ativo</td>
                <td class="cabecalho">Found</td>
            </tr>
            <tr>
                <td class="conteudo">JD Gaming</td>
                <td class="conteudo">China</td>
                <td class="conteudo">Sim</td>
                <td class="conteudo">-</td>
            </tr>            
        </table>
    </div>
</div>