<app-navbar-pesquisa></app-navbar-pesquisa>

<div class="box" id="tudo">
    <app-navbar-league></app-navbar-league>
    
    <div class="my-3">
        <h2>Equipes</h2>
    </div>
    <div class="conteudoMain h-item-total">
        <table class="table tableLeague">
            <thead>
              <tr>
                <th>Active</th>
                <th class="div2">Nome</th>
                <th class="div1">Area</th>
                <th class="div3">Fundação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="bi bi-patch-check"></i></td>
                <td>Furia</td>
                <td class="silence">America do Sul</td>
                <td class="silence">01/01/2022</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>