<app-navbar-pesquisa></app-navbar-pesquisa>
<div id="tudo">
    <section class="containChat">
        <div class="menuChat">
            <ul class="listChatUser">
                <li><a class="chatUser">
                    <img class="imgUser" src="../assets/imgs/user.jpg" alt="userimage">
                    <div>
                        <p id="nomeMensagem">Nome</p>
                        <p id="mensagem"><i class="bi bi-check-all"></i> Ultima Mensagem</p>
                    </div>
                </a></li>
                <li><a class="chatUser">
                    <img class="imgUser" src="../assets/imgs/user.jpg" alt="userimage">
                    <div>
                        <p id="nomeMensagem">Nome</p>
                        <p id="mensagem"><i class="bi bi-check-all"></i> Ultima Mensagem</p>
                    </div>
                </a></li>
                <li><a class="chatUser">
                    <img class="imgUser" src="../assets/imgs/user.jpg" alt="userimage">
                    <div>
                        <p id="nomeMensagem">Nome</p>
                        <p id="mensagem"><i class="bi bi-check-all"></i> Ultima Mensagem</p>
                    </div>
                </a></li>
            </ul>
        </div>
        <div class="chat box">
            <div class="headerChat">
                <div class="nameHeader">
                    <img class="imgUserHeader" src="../assets/imgs/user.jpg" alt="userimage">
                    <p>Nome</p>
                </div>
            </div>

            <div id="conversa" class="conversa h-item-total">
                <div class="containMensagem recebida">
                    <p>Mensagem</p>
                </div>
                <div class="containMensagem enviada">
                    <p>Mensagem</p>
                </div>


            </div>

            <div class="containInputNovaMensagem h-item-auto">
                <div class="inputNovaMensagem">
                    <input type="text" placeholder="Mensagem...">
                    <button class="sendNovaMensagem"><i class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
            </div>
        </div>
    </section>
</div>
