<app-navbar-pesquisa></app-navbar-pesquisa>

<div id="tudo">
    <div id="bannerCamp">
        <div id="img">
            <img src="../../../assets/imgs/logo_lol.png">
        </div>      
    </div>
    <div id="divcamp">
        <h2>Campeonatos</h2>
        <table id="camp">
            <tr>
                <td class="cabecalho">Nome</td>
                <td class="cabecalho">Local</td>
                <td class="cabecalho">Data</td>
            </tr>
            <tr>
                <td class="conteudo">ESL Pro League Season 10 Final</td>
                <td class="conteudo">Dinamarca</td>
                <td class="conteudo">01/01/1900 a 01/01/1900</td>
            </tr>          
            <tr>
                <td class="conteudo">ESL Pro League Season 10 Final</td>
                <td class="conteudo">Dinamarca</td>
                <td class="conteudo">01/01/1900 a 01/01/1900</td>
            </tr> 
            <tr>
                <td class="conteudo">ESL Pro League Season 10 Final</td>
                <td class="conteudo">Dinamarca</td>
                <td class="conteudo">01/01/1900 a 01/01/1900</td>
            </tr> 
            <tr>
                <td class="conteudo">ESL Pro League Season 10 Final</td>
                <td class="conteudo">Dinamarca</td>
                <td class="conteudo">01/01/1900 a 01/01/1900</td>
            </tr> 
            <tr>
                <td class="conteudo">ESL Pro League Season 10 Final</td>
                <td class="conteudo">Dinamarca</td>
                <td class="conteudo">01/01/1900 a 01/01/1900</td>
            </tr> 
            <tr>
                <td class="conteudo">ESL Pro League Season 10 Final</td>
                <td class="conteudo">Dinamarca</td>
                <td class="conteudo">01/01/1900 a 01/01/1900</td>
            </tr> 
            <tr>
                <td class="conteudo">ESL Pro League Season 10 Final</td>
                <td class="conteudo">Dinamarca</td>
                <td class="conteudo">01/01/1900 a 01/01/1900</td>
            </tr> 
            <tr>
                <td class="conteudo">ESL Pro League Season 10 Final</td>
                <td class="conteudo">Dinamarca</td>
                <td class="conteudo">01/01/1900 a 01/01/1900</td>
            </tr> 
        </table>
    </div>
</div>