<div class="containLogin">
  <section id="sectionLogin">
    <div id="logo">
      <img id="imglogo" src="../../../assets/imgs/logo.png">
    </div>

    <div class="txtLogin">
      <h2>Entrar</h2>
      <p>
        Digite seu endereço de e-mail e senha<br>
        para acessar sua conta
      </p>
    </div>

    <form id="divareaInput">
      <div class="espInput">
        <h2>E-mail</h2>
        <div class="areaInput"><input class="txtEntrada" placeholder="Digite seu e-mail"></div>
      </div>

      <div class="espInput">
        <h2>Senha</h2>
        <div class="areaInput"><input class="txtEntrada" placeholder="Digite sua senha"></div>
      </div>

      <button type="button" id="btnEntrar">Entrar</button>
    </form>

    <div id="cadastro">
      <p>Não possui conta? <a>Cadastra-se</a></p>
    </div>
  </section>

  <div id="imgLateral"></div>
</div>
